<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    span {
        margin: 10px;
    }
</style>

<div class="container">
    <span>Oi, {{ nome }}</span>

    <br/>

    <span>Você solicitou a alteração de senha.</span>
    <span>Para realizar a troca, acesso o link 
        <a href={{link}}>{{ link }}</a>
    </span>

    <span>Caso não tenha sido você que solicitou a alteração de senha, basta ignorar esse email</span>

    <strong>Obrigado</strong>
</div>